@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary-color: #ff242e;
    --secondary-color: #ff552d;
    --background-color-1: #323b3f;
    --background-color-2: #37383c;
    --background-colo-3: #464646;
    --extra-light: #dfdfdf;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white);
    line-height: 3.25;
    text-align: center;
}

.section__description{
    font-size: 1rem;
    color: var(--extra-light);
    line-height: 1.7rem;
    text-align: center;
}

.btn{
    padding: 0.7rem 1.5rem;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}


html, 
body {
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #1d1b26;
    overflow: hidden;
}
 
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo a img{
    max-width: 150px;
}

.nav__menu__btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
    }

.nav__links.open{
    transform: translateY(100%);
}

.nav__links a{
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}

.nav__links .btn{
    padding: 0;
    font-weight: 500;
    background-color: var(--primary-color);
}

.header__container{
    display: grid;
    gap: 2 rem;
}


.header__image img{
    max-width: 600px;
    margin-inline: auto;
}

.header__content h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
    line-height: 4rem;
    text-align: center;
}

.header__content .section__description{
    margin-bottom: 2rem;
}

.header__btn{
    margin-bottom: 2rem;
    text-align: center;
}

.header__stats{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__stats h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.header__stats p{
    font-size: 0.9rem;
    color: var(--extra-light);

}


@media (width > 768px) {
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .nav__header{
        padding: 0;
        background-color: transparent;
    }

    .nav__logo a img{
        max-width: 175px;
    }

    .nav__menu__btn{
        display: none;
    }

    .nav__links{
        position: static;
        padding: 0;
        width: fit-content;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }

    .nav__links a:hover{
        color: var(--primary-color);
    }

    .nav__links .btn{
        padding: 0.75rem 1.5rem;

    }

    .header__container{
        padding-block: 0;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;
    }

    .header__image{
        grid-area: 1/2/2/3
    }

    .header__content{
        padding-block: 5rem;
    }

    .header__content :is(h1, .section__description, .header__btn) {
        text-align: left;
    }

    .header__stats{
        justify-content: flex-start;
    }

    }

        